body {
    color: white;
    font-family: Arial, sans-serif;8
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #785949; 
}
header {
    background-color: #A67C66;
    color: #3E2E26;
    padding: 20px;
    text-align: center;
}

.dark-mode {
    background-color: black;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,
-50%);
    background: rgb(9, 9, 9);
    padding: 20px;
    box-shadow: 0px 0px 10px
gray;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {

    display: inline;

    margin: 0 10px;

}

nav ul li a {
    color: #3E2E26;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}


main {

    padding: 20px;

}
section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #A67C66;
    border: 1px solid #;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
}
input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #D4A694;
    color: rgb(255, 255, 255);
    color: #3E2E26;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #b67f6d;

}
footer {
    text-align: center;
    padding: 10px;
    background-color: #f9f7f7;
    color: #fff;

}



@media (max-width: 768px) {

    header, footer {

        text-align: left;

        padding: 10px;

    }

    nav ul li {

        display: block;

        margin: 5px 0;

    }

}